.gradle
/build/
build/

# Ignore Gradle GUI config
gradle-app.setting


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
sandbox/build/tmp/jar/MANIFEST.MF
*.tar
*.zip
*.jar
sandbox/out/production/classes/MyFirstProgram.class
sandbox/build/classes/java/main/MyFirstProgram.class
